@import "variables";

.Main-Container {
  @extend %flex,
  %flex-column,
  %margin-center,
  %max-width;
  box-sizing: border-box;
  padding: 0 3.5%;
  @media screen and (min-width: $tablet + 1) {
    padding: 0 12.5%;
  }
}
